/* Search */
.search-wrapper {
    position: fixed;
    bottom: 10px;
    right: 10px;
    transform: translate(-25%, -25%);
    z-index: 9999; /* Ensure the search bar is on top */
}


@media (max-width: 768px) {
	.search-wrapper {
		bottom: 10px;
		right: 10px;
		transform: none;
	}
}

.search-wrapper.active {}

.search-wrapper .input-holder {
	height: 70px;
	width: 70px;
	overflow: hidden;
	background: rgba(205, 205, 205, 0);
	border-radius: 6px;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.search-wrapper.active .input-holder {
	width: 400px;
	border-radius: 50px;
	background: rgba(0, 0, 0, 0.5);
	transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
	width: 100%;
	height: 50px;
	padding: 0px 70px 0 20px;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-family: "Open Sans", Arial, Verdana;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #FFF;
	transform: translate(0, 60px);
	transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
	transition-delay: 0.3s;
}

.search-wrapper.active .input-holder .search-input {
	opacity: 1;
	transform: translate(0, 10px);
	color: #ffffff;
}

.search-wrapper .input-holder .search-icon {
	width: 70px;
	height: 70px;
	border: none;
	border-radius: 38px;
	background: #ea64a7;
	padding: 0px;
	outline: none;
	position: relative;
	z-index: 2;
	float: right;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.search-wrapper.active .input-holder .search-icon {
	width: 50px;
	height: 50px;
	margin: 10px;
	border-radius: 30px;
}

.search-wrapper .input-holder .search-icon span {
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	transform: rotate(45deg);
	transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}

.search-wrapper.active .input-holder .search-icon span {
	transform: rotate(-45deg);
}

.search-wrapper .input-holder .search-icon span::before,
.search-wrapper .input-holder .search-icon span::after {
	position: absolute;
	content: '';
}

.search-wrapper .input-holder .search-icon span::before {
	width: 4px;
	height: 11px;
	left: 9px;
	top: 18px;
	border-radius: 16px;
	background: #ffffff;
}

.search-wrapper .input-holder .search-icon span::after {
	width: 24px;
	height: 24px;
	left: 0px;
	bottom: 0px;
	border-radius: 16px;
	border: 4px solid #ffffff;
}

.search-wrapper .close {
	position: absolute;
	z-index: 1;
	top: 24px;
	right: 20px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transform: rotate(-180deg);
	transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
	transition-delay: 0.2s;
}

.search-wrapper.active .close {
	right: -50px;
	transform: rotate(45deg);
	transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
	transition-delay: 0.5s;
}

.search-wrapper .close::before,
.search-wrapper .close::after {
	position: absolute;
	content: '';
	background: #ea64a7;
	border-radius: 2px;
}

.search-wrapper .close::before {
	width: 5px;
	height: 25px;
	left: 10px;
	top: 0px;
}

.search-wrapper .close::after {
	width: 25px;
	height: 5px;
	left: 0px;
	top: 10px;
}

.search-wrapper .input-holder .search-input::placeholder {
    color: #ffffff; /* Set placeholder color to white */
}

.search-wrapper .input-holder .search-icon:hover {
    background-color: #fca5d5; /* Brighter color */
}

#contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* Adjust as needed */
}

/* contact */

.contact .btn-square {
	width: 100px;
	height: 100px;
	border: 20px solid var(--light);
	background: #ea64a7;
	border-radius: 50px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
}

.card-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.circle-button {
	position: fixed;
	bottom: 110px;
	right: 30px;
	background-color: #ea64a7;
	color: white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	/* Ensure the button is above other elements */
}

.circle-button:hover {
    width: 55px;
    height: 55px;
    background-color: #fca5d5; /* Brighter color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Slightly larger shadow */
	transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}


@media (max-width: 768px) {
	.circle-button {
		bottom: 90px;
		right: 10px;
		transform: none;
	}
}