/********** Template CSS **********/
/* search */
.-center {
    display: flex;
    justify-content: center;
}

.-search-input {
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    padding-left: 2em;
}

.-search {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.-btn-search {
    width: 64px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border-radius: 0 40px 40px 0;
    border: 1px solid #ccc;
    border-left: 0;
    cursor: pointer;
}

.-search-box {
    width: 514px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 40px 0 0 40px;
    overflow: hidden;
}

.-search-input:focus-visible {
    outline: none;
}

/* Enroll.css */
.page-content {
    background-size: cover;
    background-position: top center;
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 35px 35px;
    backdrop-filter: blur(15px);
    /* ใช้ backdrop-filter เพื่อทำให้พื้นหลังเบลอ */
}

/* Card Header */
.card-header {
    text-align: center;
    margin-bottom: 20px;
    background-color: transparent;
}

.card-header h2 {
    color: #E60073;
}

/* Divider */
.divider {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    color: #000000;
}

/* Custom Input */
.custom-input {
    margin-bottom: 15px;
}

.input-label {
    margin-bottom: 5px;
    color: #000000;
}

.input-wrapper {
    position: relative;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
}

/* Card Footer */
.submit-button {
    background-color: #00bcd4;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

@media (min-width: 768px) {
    .col-intput {
        margin-left: 5%;
    }
}



/* Media Query for two date inputs in a row */
@media (min-width: 768px) {
    .row-inputs {
        display: flex;
        justify-content: space-between;
    }

    .row-inputs div {
        width: 95%;
    }
}

/* Media Query for one date input in a row on smaller screens */
@media (max-width: 767px) {
    .row-inputs div {
        width: 100%; /* Set width to 100% to stack inputs in a column */
    }
}



:root {
    --primary: #E60073;
    --secondary: #FB9F38;
    --light: #F5F8F2;
    --dark: #252C30;
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.fw-medium {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.fw-black {
    font-weight: 900;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--dark);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.sticky-top {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    transition: .5s;
    top: 0;
    z-index: 1000;
    /* Adjust z-index as needed */
    background-color: #ffffff;
    /* Background color of the header */
    border-bottom: 1px solid #e9ecef;
    /* Optional: Add a border at the bottom */
}

.navbar .navbar-brand {
    position: absolute;
    padding: 0;
    width: 170px;
    height: 135px;
    top: 0;
    left: 0;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 600;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Athiti";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand {
        width: 126px;
        height: 100px;
    }

    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
        text-align: end;
    }

    .navbar .navbar-nav {
        margin-top: 75px;
        border-top: 1px solid #EEEEEE;
        text-align: end;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        margin-right: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        margin-right: 0;
        transition: .5s;
        opacity: 1;
    }
}

/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: rgba(188, 115, 176, 0.7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    background-color: var(--dark);
    border: 15px solid var(--dark);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(188, 115, 176, 0.7), rgba(188, 115, 176, 0.7)), url(../img/hero_bg.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    bottom: -13px;
    left: calc(25% - 13px);
    background: var(--dark);
    border: 10px solid #FFFFFF;
    border-radius: 28px;
}

.section-title.text-center::before {
    left: 25%;
}

.section-title.text-center::after {
    left: calc(50% - 13px);
}


/*** Products ***/
.product {
    background: linear-gradient(rgba(136, 180, 78, .1), rgba(136, 180, 78, .1)), url(../img/product-bg.png) left bottom no-repeat;
    background-size: auto;
}

.product-carousel .owl-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.product-carousel .owl-nav .owl-prev,
.product-carousel .owl-nav .owl-next {
    margin: 0 10px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 55px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .15);
    font-size: 25px;
    transition: .5s;
}

.product-carousel .owl-nav .owl-prev:hover,
.product-carousel .owl-nav .owl-next:hover {
    background: #FFFFFF;
    color: var(--primary);
}


/*** About ***/
.aboutcenter-container {
    display: flex;
    flex-direction: column;
    /* จัดให้เนื้อหาอยู่ในคอลัมน์เดียวกัน */
    justify-content: center;
    /* จัดให้เนื้อหาอยู่ตรงกลางแนวตั้ง */
    align-items: center;
    /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
    margin-bottom: 30px;
}

.aboutcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.aboutcard {
    width: calc(50% - 20px);
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.aboutcard-img {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* ป้องกันรูปภาพที่เกินขอบการ์ด */
    padding: 20px;
    object-fit: cover;
}

.aboutcard-img img {
    width: 100%;
    /* ให้ภาพทำเต็มพื้นที่ของการ์ด */
    height: 200px;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
    /* ปรับขนาดของรูปภาพโดยไม่ยืดหรือบิดเบี้ยว */

}

.aboutcard-content {
    padding: 20px;
    width: 60%;
    /* ให้เนื้อหาใช้ 60% ของความกว้างของการ์ด */
    background-color: #FFFFFF;

}

.aboutcard-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #E90073;
}

.aboutcard-text {
    font-size: 14px;
    color: #1d1d1f;
}

/* CSS สำหรับหน้าจอที่ขนาดเล็กกว่าหรือเท่ากับ 768px */
@media (max-width: 768px) {
    .aboutcard {
        width: calc(100% - 20px);
        /* ให้การ์ดเต็มแถว */
    }

    .aboutcard-img img {
        width: 150px;
        /* ปรับขนาดรูปภาพให้เต็มขอบการ์ด */
        height: 150px;
        border-radius: 10px 10px 10px 10px;
        /* ปรับขอบรูปภาพเป็นสี่เหลี่ยมมุม */
    }
}

/* CSS สำหรับหน้าจอที่ขนาดมากกว่า 768px */
@media (min-width: 768px) {
    .aboutcard {
        width: calc(50% - 20px);
        /* ให้การ์ดแสดง 2 ในแต่ละแถว */
    }
}

/* Media query สำหรับหน้าจอขนาดไม่เกิน 535px */
@media (max-width: 535px) {
    .aboutcard {
        flex-direction: column; /* สลับเรียงเป็นคอลัมน์ */
    }

    .aboutcard-img {
        order: -1; /* กำหนดลำดับให้รูปมาก่อนข้อความ */
        margin-bottom: 20px; /* เพิ่มระยะห่างระหว่างรูปและข้อความ */
    }

    .aboutcard-img img {
        max-height: 200px; /* กำหนดความสูงสูงสุดของรูปภาพ */
        border-radius: 10px 10px 0 0; /* ปรับรูปแบบของขอบ */
        object-fit: cover;
    }

    .aboutcard-content {
        width: 100%;
        padding: 20px;
        background-color: #FFFFFF;
    }
}


.video {
    background: linear-gradient(rgba(188, 115, 176, 0.7), rgba(188, 115, 176, 0.7)), url(../img/video-bg.jpg) center center no-repeat;
    background-size: cover;
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 65px;
    height: 75px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 28px 30px 30px 38px;
    background: #FFFFFF;
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: 13px;
    border-left: 40px solid var(--primary);
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

.modal-video .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

.modal-video .modal-body {
    position: relative;
    padding: 0px;
}

.modal-video .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Store ***/
.store-item .store-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(138, 180, 78, .3);
    opacity: 0;
    transition: .5s;
    border-radius: 10px;
}

.p-4 p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.store-item:hover .store-overlay {
    opacity: 1;
}


/*** Contact ***/
.contact .btn-square {
    width: 100px;
    height: 100px;
    border: 20px solid var(--light);
    background: var(--primary);
    border-radius: 50px;
}


/*** Testimonial ***/
.testimonial {
    background: linear-gradient(rgba(188, 115, 176, 0.7), rgba(188, 115, 176, 0.7)), url(../img/testimonial-bg.jpg) center center no-repeat;
    background-size: cover;
}

.testimonial-item {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    background: #FFFFFF;
    border: 30px solid var(--primary);
}

.testimonial-item img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 60px;
}

.testimonial-carousel .owl-dots {
    margin-top: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--dark);
}


/*** Footer ***/
.footer {
    color: #B0B9AE;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #B0B9AE;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;

    font-family: "Athiti";
    font-weight: 900;
    color: var(--primary);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    color: #B0B9AE;
}

.copyright {
    background: #252525;
}

.copyright a:hover {
    color: #FFFFFF !important;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    display: flex;
    /* เพิ่ม display: flex เพื่อให้รูปและชื่ออยู่ในตำแหน่งเดียวกัน */
    flex-direction: column;
    /* กำหนดให้รูปและชื่ออยู่ในคอลัมน์เดียวกัน */
    align-items: center;
    /* กำหนดให้จุดศูนย์กลางของรูปและชื่ออยู่ตรงกลาง */
}

.profile-picture img {
    width: 200px;
    /* ลดขนาดรูปเพื่อให้มองเห็นชื่อได้ชัดเจน */
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details {
    margin-left: 20px;
    /* เพิ่ม margin-left เพื่อเว้นระยะห่างระหว่างข้อมูลและรูป */
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mb-55 {
    margin-bottom: 55px;
}

.section-padding40 {
    padding-top: 50px;
    padding-bottom: 100px;
}

.fix {
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.courses-area .properties.properties2 {
    margin-bottom: 30px;
}

.courses-area .properties {
    margin: 0 15px;
}

.courses-area .properties__card {
    box-shadow: 0px 6px 6px 0px rgba(2, 25, 65, 0.08);
    border-radius: 10px;
    transition: .4s;
}

.properties__img img {
    display: flex;
    align-items: center; /* จัดภาพให้อยู่ตรงกลางแนวตั้ง */
    width: 100%;
    height: 185px;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}

.properties__img img:hover {
    filter: brightness(75%);
    transition: all .4s;
}


.detail__img img {
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
}

.overlay1 {
    position: relative;
    z-index: 1;
}

.courses-area .properties__caption {
    padding: 20px 20px 20px 20px;
    height: 100%;
}

.properties__caption a {
    padding-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.properties__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-area .properties__footer {
    margin-bottom: 22px;
    transition: .4s;
}

@media (max-width: 575px) {
    .courses-area .properties__footer {
        padding: 19px 10px 20px 12px;
    }
}

.border-btn.border-btn2 {
    width: 100%;
    text-align: center;
    border: 1px solid #E2E4FF;
    color: #4255A4;
}

.border-btn {
    border: 1px solid #FF9F67;
    color: #FF9F67;
    font-family: "Noto Sans Thai", sans-serif;
    background: none;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 17px 42px;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    position: relative;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.properties__card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 320px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
}

.properties__card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.properties__caption {
    padding: 0px 10px 10px 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.properties__caption p {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.properties__caption h5 {
    max-height: 2.8em;
    /* Adjust the height as needed to fit two lines */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit the number of lines to 2 */
    -webkit-box-orient: vertical;
    color: #E90073;
}
/* search */

.fixed-search {
    position: fixed;
    top: 10px;
    z-index: 1000;
}

/* detail */
body {
    background-color: #f5f5f5;
    /* สีพื้นหลังของหน้าเว็บ */
}

.detailcard {
    max-width: 800px;
    margin: 100px auto 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    /* เพิ่ม flexbox */
    flex-direction: column;
    /* จัดเรียงเนื้อหาในแนวตั้ง */

}

.detailcard-img-top {
    width: 100%;
    /* ทำให้ภาพขยายเต็มกว้าง */
    height: 100%;
    /* ให้ภาพขยายเต็มสูงตาม container */
    object-fit: cover;
    /* ปรับภาพให้เต็มพื้นที่โดยไม่เกินขอบ container */
    border-radius: 15px 15px 0 0;
    /* ให้มีขอบโค้งด้านบนเท่ากับการ์ด */
}

.detailcard-body {
    padding: 20px;
    flex-grow: 1;
    /* ทำให้เนื้อหายืดเต็มพื้นที่ของการ์ด */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* จัดให้เนื้อหาตรงกลางแนวตั้ง */
    background-color: #FFFFFF;
}

.detailcard-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    /* เพิ่มช่องว่างด้านล่างของหัวข้อ */
}

.card-text {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* home */
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: fit-content;
    max-width: 100%;

}

.homecard-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.homecard-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e90073;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
}


.homecard-text {
    font-size: 1rem;
    color: #1d1d1f;
    margin-top: 10px;
}

.homecard-img-top {
    border-radius: 15px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.indented {
    text-indent: 2em;
    margin-bottom: 10;
}

.warning {
    color: #ff0000;
    font-size: 1.5rem;
    font-weight: bold;
}

.font-btn {
    color: #f54d4d;
    font-size: 1rem;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
/* shape */
.custom-shape-divider-top-1710057287 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1710057287 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 210px;
}

.custom-shape-divider-top-1710057287 .shape-fill {
    fill: #E695B5;
}

/* dashboad */
.chart-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.chart-card {
    width: 500px;
    /* กำหนดความกว้างเป็นค่าคงที่ */
    height: 450px;
    /* กำหนดความสูงเป็นค่าคงที่ */
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    /* ทำให้เนื้อหาอยู่ในส่วนกลาง */
    justify-content: center;
    /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
    align-items: center;
    /* จัดให้เนื้อหาอยู่ตรงกลางแนวตั้ง */
}


canvas {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .chart-card {
        width: calc(100% - 20px);
        /* ปรับเป็นความกว้างเต็มหน้าจอแล้วลบระยะห่าง */
        height: auto;
        /* ปรับความสูงให้เป็น auto เพื่อให้ canvas ปรับขนาดตาม */
    }
}


/* ======================= Cards Dash ====================== */
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .carddash {
    position: relative;
    background: #FFFFFF;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .carddash .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: #e90073;
}

.cardBox .carddash .cardName {
    color: #252c30;
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .carddash .iconBx {
    font-size: 3.5rem;
    color: #e90073;
}

.cardBox .carddash:hover {
    background: var(--blue);
}

.cardBox .carddash:hover .numbers,
.cardBox .carddash:hover .cardName,
.cardBox .carddash:hover .iconBx {
    color: var(--white);
}

/* ================== Order Details List ============== */
.details {
    position: relative;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.details .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: #FFFFFF;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeaderAllCourse {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    color: #e60073;
}
.cardHeaderAllCourse h2 {
    font-weight: 600;
    color: #e60073;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    overflow-x: auto;
}

.details table thead td {
    font-weight: 600;
}

.details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.details .recentOrders table tr td {
    padding: 10px;
}

.details .recentOrders table tr td:last-child {
    text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
    text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
}

.status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pass {
    padding: 2px 4px;
    background: #8de02c;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.return {
    padding: 2px 4px;
    background: #f00;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.inProgress {
    padding: 2px 4px;
    background: #1795ce;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.recommend-course-container {
    display: flex;
    /* Use flexbox to arrange items in a row */
    flex-wrap: wrap;
    /* Allow wrapping to handle smaller screens */
}

.recentOrders {
    flex: 1;
    /* Allow the element to grow to fill available space */
}

.recentCustomers {
    flex: 1;
    /* Allow the element to grow to fill available space */
    margin-left: 10px;
    /* Add margin for spacing */
    position: relative;
    display: grid;
    min-height: 500px;
    background: #FFFFFF;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    /* Align items with space between them */
    align-items: center;
}

.cardHeader h2 {
    margin-bottom: 0;
    /* Remove bottom margin for the heading */
    color: #E60073;
}


.recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}

.recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr td {
    padding: 12px 10px;
}

.recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;
}

.recentCustomers table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
}

.recentCustomers table tr:hover {
    background: var(--blue);
    color: var(--white);
}

.recentCustomers table tr:hover td h4 span {
    color: var(--white);
}

/* ====================== Responsive Design ========================== */
@media (max-width: 1470px) {
    .recentOrders {
        overflow-x: auto;
    }
}

@media (max-width: 991px) {
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 768px) {
    .details {
        grid-template-columns: 1fr;
    }

    .recentOrders {
        overflow-x: auto;
    }

    .status.inProgress {
        white-space: nowrap;
    }
}

img.logo-wu {
    width: 125px;
    padding-top: 4px;
    filter: drop-shadow(2px 2px 2px #616161);
}

img.logo-wu:hover {
    transform: scale(1.02);
    filter: brightness(85%) drop-shadow(2px 2px 2px #616161);
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }

    img.logo-wu {
        width: 75px;
        padding-top: 4px;
    }
}

.table-responsive {
    overflow-x: auto;
}

/* Styles for the bookmark button */
.bookmark-button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
}

.bookmark-button:hover {
    color: #fbff89;
}

/* Active state for the bookmark button */
.bookmark-button.active {
    color: #fff700;
}



.card-btn:hover {
    background-color: #d6d6d6;
}

@media (max-width: 1400px) {
    .col-lg-3 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media (max-width: 992px) {
    .col-lg-3 {
        flex: 0 0 50%;
        /* Two columns on medium screens */
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .col-lg-3 {
        flex: 0 0 100%;
        /* One column on small screens */
        max-width: 100%;
    }
}

.center-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bi {
    color: white;
}

.bi:hover {
    color: black;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.previous-btn {
    background-color: #f1f1f1;
    color: black;
    border-color: #e60073;
    border-radius: 10%;
    border-width: 2px;
    padding: 5px;
}

.next-btn {
    background-color: #ea64a7;
    color: white;
    border-color: #e60073;
    border-radius: 10%;
    border-width: 2px;
    padding: 5px;
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
    border-color: #ea64a7;
}

.pagination-span {
    opacity: 0.8;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tag-select {
    border-color: #ea64a7;
}

.tag-select:hover {
    background-color: #efc0d8;
}

.pink-th{
    background-color: #ff74b9;
    border: 2.5px solid white;
    padding-left: 5px;
    color: white;
}

.status.waiting {
    padding: 2px 4px;
    background: #ffcc00; /* Yellow */
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.finish {
    padding: 2px 4px;
    background: #8de02c; /* Green */
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.failed {
    padding: 2px 4px;
    background: #ff3333; /* Red */
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
/* login page */
.logincard-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    overflow: hidden;

}
.logincard-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #E90073;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5rem; 
}
.logincard-img {
    border-radius: 15px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.text-align-start {
    text-align: left;
}


.properties__skill {
    border-radius: 5px; 
    background-color: #f1f1f1;
    padding: 5px;
}

.card-container-notification {
    width: 90%;
    box-shadow: 0 0 45px rgba(0, 0, 0, .15);
    margin: 0 auto;
    border-radius: 5px; 
    padding: 20px 10px;
    justify-content: space-between;
    background-color: white;
}

.card-notification {
    width: 90%;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    border-radius: 8px;
    margin-bottom: 10px; /* Add vertical space between cards */
    background-color: white;
}

.card-notification:hover {
    background-color: #fff4f4;
}

.card-body-notification {
    justify-content: space-between;
}

.review {
    color: white;
    background-color: #E90073;
    height: min-content;
    border: 4px !important;
}

.cancel-noti {
    color: #ff0000;
    background-color: rgb(207, 207, 207);
    height: min-content;
    border: 4px !important;
    margin-right: 5px;
}

.confirm-noti {
    color: #ffffff;
    background-color: #E90073;
    height: min-content;
    border: 4px !important;
}

.card-date {
    color: #888;
    font-size: 15px;
    padding-left: 5px;
}

.btn-cancel {
    background-color: #dfdfdf;
    margin-bottom: 10px;
    color: red;
}

.btn-cancel:hover{
    background-color: #c9c8c8;
    color: white;
}